# Core dependencies
youtube-transcript-api
requests
jinja2
beautifulsoup4

# Channel import
scrapetube

# Search server
flask
whoosh

# Podcast/Blog import
feedparser
trafilatura

# Security
bleach
defusedxml
